chardet==5.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020388975/work
opencv-python==4.10.0
opencv-python-headless==4.10.0
pysrt==1.1.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
